@media screen and (min-width: 320px) and (max-width:426px) {
    .container {
        max-width: 335px;
    }
    //header
    header {
        height: 601px;
        background-position: 70% 80%;
        background-attachment: fixed;
        nav {
            .header__ul {
                padding-left: 0;
                justify-content: space-between;
                .mobile__hamburger {
                    display: block;
                    // position: relative;
                    img {
                        width: 32px;
                        height: 32px;
                    }
                    .mobile__wrapper {
                        display: none;
                        flex-direction: column;
                        gap: 30px;
                        background-color: #F84646;
                        position: absolute;
                        text-align: center;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        padding: 30px 0;
                        animation-name: mobileanimation;
                        animation-duration: .5s;
                        animation-iteration-count: 1s;
                        animation-timing-function: ease;
                        .mobile__header__link {
                            color: white;
                            font-size: 20px;
                        }
                        .mobile__header__link:hover {
                            color: black;
                            text-shadow: 0.5px 0.5px 1px black;
                        }
                    }
                }
                @keyframes mobileanimation {
                    0% {
                        transform: translateY(-100%);
                    }
                    100% {
                        transform: translateY(0);
                        animation-delay: 5s;
                    }
                }
                .mobile__hamburger:hover .mobile__wrapper {
                    display: flex;
                }
                img {
                    width: 32px;
                    height: 32px;
                }
                .header__link {
                    display: none;
                }
            }
        }
    }
    .header__contents {
        margin-top: 62px;
        text-align: center;
        .header__headline {
            font-size: 42px;
            line-height: 58px;
        }
        .header__text {
            margin-top: 30px;
            font-size: 12px;
            line-height: 23px;
        }
        form {
            margin-top: 48px;
            max-width: 100%;
            max-height: 60px;
            .header__sumbit {
                max-width: 90px;
                max-height: 50px;
            }
        }
    }
    //section : quality
    .quality {
        padding-top: 60px;
        padding-bottom: 90px;
        text-align: center;
        h2 {
            font-size: 24px;
            line-height: 33px;
        }
        .quality__text {
            margin-top: 15px;
            max-width: 100%;
            font-size: 12px;
            line-height: 22px;
        }
        .quality__wrapper {
            margin-top: 50px;
            grid-template-columns: 300px;
            gap: 80px;
        }
    }
    //section: test
    .test__bg {
        max-height: 836px;
        padding-top: 50px;
        padding-bottom: 84px;
    }
    .test {
        text-align: center;
        .test__title {
            font-size: 36px;
            line-height: 47px;
        }
        .test__desc {
            font-size: 14px;
            line-height: 32px;
        }
        .test__wrapper {
            flex-direction: column;
            line-height: 25px;
            gap: 44px;
            .test__link {
                width: auto;
            }
            .test__icon {
                transform: scale(90deg);
            }
        }
    }
    //section: manage
    .manage {
        width: auto;
        padding-top: 90px;
        padding-bottom: 80px;
        gap: 60px;
        align-items: center;
        .manage__card {
            flex-direction: column;
            gap: 30px;
            .manage__content {
                text-align: center;
                h1 {
                    font-size: 36px;
                    line-height: 42px;
                }
                p {
                    font-size: 14px;
                    line-height: 28px;
                    margin-top: 20px;
                }
                button {
                    margin-top: 40px;
                    width: 100%;
                }
            }
            img {
                max-width: 335px;
                height: 312px;
            }
            .manage__content--mobile {
                order: 2;
            }
            .manage__img--mobile {
                order: 1;
            }
        }
    }
    //section: partner
    .partner {
        text-align: center;
        padding: 40px 0;
        gap: 40px;
        &__content {
            gap: 14px;
            h1 {
                font-size: 36px;
                line-height: 42px;
            }
            p {
                font-size: 14px;
                line-height: 32px;
            }
        }
        &__card {
            flex-direction: column;
        }
        .partner__mobile {
            display: none;
        }
    }
    //section: contact
    .contact {
        padding: 90px 0;
        text-align: center;
        img {
            width: 90px;
            height: 90px;
            z-index: 1;
        }
        span {
            width: 45px;
            height: 45px;
            z-index: -1;
        }
        h1 {
            margin-top: 20px;
            font-size: 36px;
            line-height: 32px;
        }
        p {
            margin-top: 12px;
            font-size: 14px;
            line-height: 25px;
        }
        button {
            width: 124px;
            height: 42px;
            font-size: 16px;
            line-height: 20px;
        }
    }
    //footer
    .footer {
        gap: 30px;
        &__links {
            flex-direction: column;
            gap: 49px;
        }
        &__social {
            flex-direction: column;
            gap: 60px;
            p {
                order: 2;
            }
            div {
                order: 1;
            }
        }
    }
}